{{title}}:
{{#if assets.isLoaded}}
  <ul>
    {{#each-in assets.assets.assets as |asset fingerprinted|}}
      <li>{{asset}} {{fingerprinted}}</li>
    {{/each-in}}
  </ul>
{{else}}
  loading
{{/if}}
